.categoryPageHeader {
    text-align: center;
    letter-spacing: .2rem;
}

.categoryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 0px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

.editButton {
    padding: 0.25rem 1rem;
    font-size: small;
}

.deleteButton {
    background-color: #db534b;
    color: white;
    padding: 0.25rem 1rem;
    font-size: small;
}

.categoryName {
    text-align: center;
    letter-spacing: .1rem;
    font-weight: 300;
}

.categoryNameContainer {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#category-cardBody {
    padding-left: 0px;
    padding-right: 0px;
}

.quillLogo {
    height: 6.15rem;
}

.logoCircle {
    height: 7.5rem;
    width: 7.5rem;
    display: inline-block;
    border: 1px #db534b solid;
    border-radius: 50%;
    padding: 10px;
    background-color: #db534b;
}

.logoContainer {
    display: flex;
    justify-content: center;
}

.createCategoryInput {
    background-color: #f7f7f9;
    border: none;
    width: 95%;
    padding: 16px;
}

#addCategoryForm {
    padding: 16px 0px;
    /* padding-left: 0px;
    padding-right: 0px; */
    margin-top: 16px;
}

.formInputsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.categorySaveButton {
    padding: 0.25rem 1.5rem;
    font-size: small;
    border: none;
    background-color: white;
}